$main-dark-color: #3A3838;
$main-font-family: 'Roboto', sans-serif;
$main-middle-color: lighten($main-dark-color, 18%);
$green-color: #33cc33;
$white-color: #fff;
$blue-color: #1a75ff;

* {
    box-sizing: border-box;
}

.unvisible{
    visibility: hidden;
}

.opacity05{
    opacity: 0.5;
}

.main-middle-wrapper{
    width: 1015px;
    min-height: 1000px;
    display: flex;
    margin: 0 auto;
}

.chat-participants{
    width: 360px;
    background-color: $main-dark-color;
    background: linear-gradient(to right, lighten($main-dark-color, 7%), $main-dark-color);    
}

.dialog{
    display: flex;
    flex-direction: column;
    width: 655px;
    background-color: lighten($main-dark-color, 73%);
}

.top-menu{
    height: 80px;
    border-bottom: 1px solid $main-middle-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container{
    @extend .top-menu;    
}

.search{
    background-color: $main-middle-color;
    position: relative;
    border-radius: 20px;
}

.search-input, .search-button{
    border: none;
    outline: none;
    background: transparent;
}

.search-input{
    width: 300px;
    height: 40px;
    padding-left: 50px; 
    font-size: 14px;   
}

.search-input::-webkit-input-placeholder {
    color: lighten($main-dark-color, 40%); 
}

.search-button{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 9px;
    cursor: pointer;
}

.search-button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 15px;
    color: $white-color;
}

.post-container{
    padding: 25px 0;
    margin: 0 auto;
    height: 100px;
    width: 325px;
    display: flex;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    &:hover::before{
        content: "";
        display: block;
        height: 100%;
        width: 4px;
        background-color: $blue-color;
        position: absolute;
        top: 0;
        left: -17px;
    }
    &:hover .post-jump{
        color: $white-color;
    }
}

.post-avatar{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 10px;
    cursor: pointer;    
    &.first{
        background: url("../img/one-min.jpg") no-repeat center;
        background-size: cover;
    }
    &.second{
        background: url("../img/two-min.jpg") no-repeat center;
        background-size: cover;
    }
    &.third{
        background: url("../img/three-min.jpg") no-repeat center;
        background-size: cover;
    }
    &.fourth{
        background: url("../img/four-min.jpg") no-repeat center;
        background-size: cover;
    }
    &.fifth{
        background: url("../img/five-min.jpg") no-repeat center;
        background-size: cover;
    }
    &.sixth{
        background: url("../img/six-min.jpg") no-repeat center;
        background-size: cover;
    }
}

.post-avatar::after{
    content: " ";
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: $main-middle-color;
    position: relative;
    bottom: -61px;
}

.post-indicator-new{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: $green-color;
    position: relative;
    top: -7px;
    right: -7px;    
}

.post-content{
    width: 180px;  
    margin-left: 18px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-name-author{
    font-family: $main-font-family;
    font-size: 15px;
    color: $white-color;
    margin: 3px 0;
}

.post-short-content{
    font-family: $main-font-family;
    color: $main-middle-color;
    font-size: 13px;    
    margin: -1px 0;    
    white-space: nowrap;
    overflow-x: hidden;    
    overflow-y: auto;
    text-overflow: ellipsis;
}

.post-jump{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 30px;
    padding-bottom: 7px;
    color: $main-middle-color;
    font-size: 10px;
    font-family: $main-font-family;
    &::after{
        content: "\f141";
        font-family: FontAwesome;
        font-size: 16px;
        color: $white-color;
        text-align: right;
        padding: 0 2px 5px 0;
    }    
}

.participant-action{
    @extend .top-menu;
    justify-content: space-between;
    border-bottom: 1px solid lighten($main-dark-color, 40%);    
}

.participant-types{
    font-family: $main-font-family;
    color: $main-middle-color;
    font-size: 13px;
    position: relative;
    left: 25px;
}

.participant-types-bold-name{
    font-weight: 900;
    color: $main-dark-color;
}

.wrapper-button{
    height: 80px;
    display: flex;
}

.participant-action button{
    width: 80px;
    height: 80px;
    background-color: lighten($main-dark-color, 73%);
    border-radius: 0; 
    border-color: lighten($main-dark-color, 40%);
    border-top: 0;
    cursor: pointer;    
    &.participant-call{
        border-left: 0;
        border-right: 0;
    }
    &.participant-video{
        border-right: 0;
    }
    &.participant-favourite::before{
        content: "\f005";
        font-family: FontAwesome;
        font-size: 20px;
        color: $main-middle-color;        
    }
    &.participant-call::before{
        content: "\f095";
        font-family: FontAwesome;
        font-size: 20px;
        color: $main-middle-color;
    }
    &.participant-video::before{
        content: "\f03d";
        font-family: FontAwesome;
        font-size: 20px;
        color: $main-middle-color;
    }
}

button.participant-favourite:hover::before{
    color: #ffcc00;
}

button.participant-call:hover::before{
    color:  #ffcc00;
}

button.participant-video:hover::before{
    color:  #ffcc00;
}

.wrapper-content-message{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
}

.wrapper-place-for-messages{
    margin-bottom: 25px;
}

.wrapper-chat-message{
    position: relative;
    top: 25px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.chat-message-avatar{
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background: url("../img/one-min.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin: 5px 0 0 25px;
    .chat-message-time{
        font-family: $main-font-family;
        font-size: 11px;
        color: $main-middle-color;
        position: relative;
        top: 45px;
        font-weight: bold;
    }
}

.chat-message-body{
    background-color: $white-color;
    border-radius: 5px;
    padding: 15px;
    margin-left: 30px;
    max-width: 470px;
    position: relative;
    .chat-arrow-left {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 7px solid $white-color;
        position: absolute;
        top: 20px;
        left: -14px;
        display: inline-block; 
        transform: translateX(100%);
    }
    .chat-message-text{
        margin: 0;
        font-family: $main-font-family;
        font-size: 14px;
        color: $main-middle-color;
        line-height: 1.5;
    }
}

.wrapper-chat-message-opponent{
    position: relative;
    top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 20px;
    .chat-message-avatar{
        width: 34px;
        height: 34px;
        border-radius: 17px;
        background: url("../img/two-min.jpg") no-repeat center;
        background-size: cover;
        display: flex;
        justify-content: center;
        margin: 5px 25px 0 0;
        order: 1;
        .chat-message-time{
            font-family: $main-font-family;
            font-size: 11px;
            color: $main-middle-color;
            position: relative;
            top: 45px;
            font-weight: bold;
        }
    }
    .chat-message-body{
        background-color: $blue-color;
        border-radius: 5px;
        padding: 15px;
        max-width: 470px;
        margin-right: 30px;
        order: 0;
        position: relative;
        .chat-arrow-right {
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 7px solid $blue-color;
            position: absolute;
            top: 20px;
            right: 0;
            display: inline-block; 
            transform: translateX(100%);
        }
        .chat-message-text{
            margin: 0;
            font-family: $main-font-family;
            font-size: 14px;
            color: $white-color;
            line-height: 1.5;
        }
    }
}

.wrapper-chat-message-opponent-buy-albom{
    position: relative;
    top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 20px;
    .chat-message-avatar{
        width: 34px;
        height: 34px;
        border-radius: 17px;
        background: url("../img/two-min.jpg") no-repeat center;
        background-size: cover;
        display: flex;
        justify-content: center;
        margin: 5px 25px 0 0;
        order: 1;
        .chat-message-time{
            font-family: $main-font-family;
            font-size: 11px;
            color: $main-middle-color;
            position: relative;
            top: 45px;
            font-weight: bold;
        }
    }
    .buy-albom-wrapper{
        background-color: $blue-color;
        border-radius: 5px;
        padding: 25px;
        max-width: 470px;
        margin-right: 30px;
        order: 0;
        position: relative;
        display: flex;
        .chat-arrow-right {
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 7px solid $blue-color;
            position: absolute;
            top: 20px;
            right: 0;
            display: inline-block; 
            transform: translateX(100%);
        }
        .chat-message-text{
            margin: 0;
            font-family: $main-font-family;
            font-size: 14px;
            color: $white-color;
            line-height: 1.5;
        }
        img{
            width: 140px;
            height: 140px;
            background-size: cover;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .buy-albom-about{
            padding: 0 25px;
            .buy-albom-title{
                color: $white-color;
                font-family: $main-font-family;
                font-weight: bold;
                font-size: 18px;
                margin: 10px 0 4px 0;
            }
            .buy-albom-musician{
                color: $white-color;
                font-family: $main-font-family;
                font-size: 14px;
                margin: 0;
                font-weight: 100;
            }
            .buy-albom-button{
                width: 155px;
                height: 40px;
                background-color: #004d99;
                border: none;
                border-radius: 5px;
                color: $white-color;
                font-family: $main-font-family;
                font-size: 12px;
                text-transform: uppercase;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                cursor: pointer;
                padding: 1px 7px;
                &:hover{
                    background-color: #003366;
                }
            }
            .buy-albom-rates{
                padding: 15px 0;
                display: flex;
                align-items: center;
                .buy-albom-for-stars{
                    color: #ffcc00;
                    .fa.fa-star{
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .fa.fa-star:last-child{
                        color: lighten($main-dark-color, 18%);
                    }
                }
                .buy-albom-number-rates{
                    color: $white-color;
                    font-size: 10px;
                    font-family: $main-font-family;
                    font-weight: 100;
                    margin-left: 20px;
                    text-decoration: none;
                }              
            }            
        }
        
    }
}

.wrapper-type-your-message{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lighten($main-dark-color, 50%);
    background-color: lighten($main-dark-color, 77%);
    .item-more{
        text-decoration: none;
        cursor: pointer;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            content: "\f0c6";
            font-family: FontAwesome;
            font-size: 22px;
            color: lighten($main-dark-color, 30%);
            font-weight: 500;            
            transform: rotate(225deg);
        }
    }
    .place-for-typing{
        width: 470px;
        margin-left: -10px;
        border: none;
        font-family: $main-font-family;
        font-size: 14px;
        font-weight: 300;
    }
    .place-for-emoji{
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover::before{
            color: lighten($main-dark-color, 13%);
        }        
        &::before{
            content: "\f118";
            font-family: FontAwesome;
            font-size: 24px;
            color: lighten($main-dark-color, 30%);
        }
    }
    .sent-your-message{
        width: 36px;
        height: 36px;
        border-radius: 18px;
        background-color: lighten($main-dark-color, 20%);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 25px;
        &:hover{
            background-color: lighten($main-dark-color, 13%);
        }
        &::before{
            content: "\f1d8";
            font-family: FontAwesome;
            font-size: 14px;
            color: $white-color;
            transform: rotate(20deg);
        }
    }
}