/* main variables */
$main-dark-color: #3A3838;
$main-font-family: 'Roboto', sans-serif;
$main-middle-color: lighten($main-dark-color, 18%);
$green-color: #33cc33;
$white-color: #fff;
$blue-color: #1a75ff;

/* import parts */

@import 'search';
@import 'post';
@import 'participant';
@import 'chatMessage';
@import 'typeMessage';

/* main styles */

* {
    box-sizing: border-box;
}

.unvisible{
    visibility: hidden;
}

.opacity05{
    opacity: 0.5;
}

.top-menu{
    height: 80px;
    border-bottom: 1px solid $main-middle-color;
    display: flex;
    align-items: center;
}

.main-middle-wrapper{
    width: 1015px;
    height: 100vmin;
    display: flex;
    margin: 0 auto;
}

.chat-participants{
    width: calc(360px - 10px);
    min-height: 100%;
    overflow-y: auto;       
    &.chat-participants_gray {
        background-color: $main-dark-color;
        background: linear-gradient(to right, lighten($main-dark-color, 7%), $main-dark-color);
    }
}

.dialog{
    display: flex;
    flex-direction: column;
    width: 655px;    
    &.dialog_light_gray {
        background-color: lighten($main-dark-color, 73%);
    }
}